<h1>Editing server</h1>

<%= form_for(@server) do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :external_ip_addr %><br />
    <%= f.text_field :external_ip_addr %>
  </p>
  <p>
    <%= f.label :internal_ip_addr %><br />
    <%= f.text_field :internal_ip_addr %>
  </p>
  <p>
    <%= f.label :flavor_id %><br />
    <%= f.text_field :flavor_id %>
  </p>
  <p>
    <%= f.label :image_id %><br />
    <%= f.text_field :image_id %>
  </p>
  <p>
    <%= f.label :server_group_id %><br />
    <%= f.text_field :server_group_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @server %> |
<%= link_to 'Back', servers_path %>
