<script>

    $(document).ready(function() {
        server_group_table_selectors();
    });

</script>

<%= will_paginate @server_groups, :params => {:layout => false}, :class => "servergroup-paginate" %>

<table class="ui-widget ui-widget-content data">
  <tr class="ui-widget-header">
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Account</th>
    <th>Owner</th>
    <th>Status</th>
    <th>Created at</th>
    <th>Size</th>
    <th colspan="1">&nbsp;</th>
  </tr>

<% @server_groups.each do |server_group| %>
  <tr id="server-group-tr-<%= server_group.id %>" class="<%= cycle "tr0", "tr1" %>">
    <td><%= server_group.id %></td>
    <td><%= raw chop_for_html(server_group.name) %></td>
    <td><%= raw chop_for_html(server_group.description) %></td>
<% if server_group.user.account.username then %>
    <td><%= raw chop_for_html(server_group.user.account.username) %></td>
<% else %>
    <td>&nbsp;</td>
<% end %>
    <td><%= raw chop_for_html(server_group.owner_name) %></td>
    <td><%= raw status_image_for_group(server_group) %></td>
    <td><%= timestamp(server_group.created_at.in_time_zone) %></td>
    <td><%= server_group.servers.size %></td>
<!--
    <td><%= link_to 'Show', server_group %></td>
    <td><%= link_to 'Edit', edit_server_group_path(server_group) %></td>
-->
    <td><%= link_to 'Destroy', server_group, { :class => "server-group-delete" } %></td>
  </tr>
<% end %>

<% if @server_groups.size == 0 then %>
    <td colspan="5">No server groups.</td>
<% end %>

</table>
